
<h2><%= @project.title %></h2>
<img src="<%= @project.preview.url %>" alt="">

<form action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="project_id" value="<%= @project.id %>">
  <textarea name="content"></textarea>
  <button>post comment</button>
</form>

<% @comments.each do |comment| %>
  <p><%= comment.content %></p>
<% end %>